<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
</head>

<body>
    <h1>404 Not Found</h1>
    <p>The page you requested could not be found.</p>
    <img src="https://http.cat/404" alt="404 Not Found">
</body>

</html>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1E1E1E;
    }

    h1 {
        color: #ffffff;
        margin-top: 100px;
        text-align: center;
    }

    p {
        color: #ffffff;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }
</style>
