{%extends 'welcome.html'%}
<!DOCTYPE html>
{% load static %}
{%block content%}   
    <body>
        <div class="mx-5 mt-3">
            <h4 class="title text-white">PINGPONG</h4>
        </div>
        <div class="mx-5 text-center">
            <div class="game-container embed-responsive embed-responsive-16by9">
                <canvas id="pongCanvas" class="embed-responsive-item" width="800" height="400"></canvas>
            </div>
        </div>
        <div class="text-center">
            <h4 class="title text-white">SCORE</h4>
            <div class="score">
                <span id="player1-score" class="text-white fw-bold">0</span> <span class="text-white">-</span> <span id="player2-score" class="text-white fw-bold">0</span>
            </div>
        </div>
        <script>
            const username = "{{ user.get_username }}";
            const userId = "{{ user.id }}";
            const gameUrl = "{% url 'game' %}";
            const gameiaUrl = "{% url 'gameia' %}";
            const gamepageUrl = "{% url 'gamepage' %}";
            const csrfToken = "{{ csrf_token }}";
            const updateScoreUrl = "{% url 'update_score' %}";
            const updateLoseUrl = "{% url 'update_loss' %}";
        </script>
        <script src="{% static 'js/endGame.js' %}"> </script>
        <script src="{% static 'js/pong.js' %}"> </script>
    </body>
{%endblock content%}
</html>