{%extends 'welcome.html'%}
<!DOCTYPE html>
{% load static %}
{%block content%}
    <body class="w-100">
    <div class="mx-5 mt-3">
        <h4 class="title text-white">PINGPONG</h4>
        <div class="information-container p-3 mt-2 text-white">
            <p class="fw-bold fs-4 mb-2">🎮 Comment jouer ?</p>
            <p class="fw-medium fs-6">Vous êtes actuellement sur la page de Jeu, ci-dessous vous pouvez choisir à quelle mode de jeu vous désirez jouer. Si vous voulez créer un Tournois ou en rejoindre un, dirigez-vous dans la catégorie Tournois.</p>
        </div>
        <div class="mt-3 text-center">
            <h1 class="fs-3 fw-bold text-white mb-5">Choisissez votre mode de jeu</h1>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="container">
                    <div class="row gap-5 justify-content-center">
                        <div class="col-md-4">
                            <div class="bg-gamecard rounded-2 pb-10" onclick="launchGame('{% url 'game' %}', '/game', 0)">
                                <img src="{% static 'images/local.png' %}" alt="Local game" class="img-fluid">
                                <div class="mt-3">
                                    <p class="fs-3 fw-bold text-white">Local</p>
                                    <p class="fs-6 fw-medium text-white">Jouez contre un ami sur le même ordinateur !</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-gamecard rounded-2 pb-10" data-bs-toggle="modal" data-bs-target="#levelModal">
                                <img src="{% static 'images/ia.png' %}" alt="Online game" class="img-fluid">

                                <div class="mt-3">
                                    <p class="fs-3 fw-bold text-white">IA</p>
                                    <p class="fs-6 fw-medium text-white">Jouez contre l'ordinateur</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="levelModal" tabindex="-1" aria-labelledby="levelModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content bg-darker">
                            <div class="modal-header">
                              <h5 class="modal-title text-white f" id="levelModalLabel">Choisir le niveau</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p class="text-white">Choisissez le niveau de difficulté de l'IA</p>
                                <div class="d-grid gap-2 d-md-block">
                                    <button class="btn btn-success" id="easy">Facile</button>
                                    <button class="btn btn-warning" id="medium">Moyen</button>
                                    <button class="btn btn-danger" id="hard">Difficile</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary custom-btn-width">Jouer</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>   
    </div>
</body>
<script>
    function launchGame(url, redirectUrl, level) {
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                level: level
            })
        }).then(response => {
            if (response.ok) {
                console.log('Match launched successfully!');
                window.location.href = redirectUrl;
            } else {
                console.error('Failed to launch match!');
            }
        }).catch(error => {
            console.error('Error launching match:', error);
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('#levelModal .modal-body button');
        let selectedLevel = '';

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                if (selectedLevel !== this.id) {
                    if (selectedLevel) {
                        document.getElementById(selectedLevel).disabled = false;
                    }
                    selectedLevel = this.id;
                    this.disabled = true;
                }
            });
        });
        document.querySelector('#levelModal .modal-footer button').addEventListener('click', function () {
            if (selectedLevel !== '') {
                launchGame('{% url 'gameia' %}', '/game/ia', selectedLevel);
            } else {
                alert("Veuillez sélectionner un niveau avant de jouer.");
            }
        });
    });
</script>
{%endblock content%}
</html>