{%extends 'welcome.html'%}
<!DOCTYPE html>
{% load static %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>
{%block content%}    
    <body class="w-100">
        <div class="mx-5 mt-3">
            <h4 class="text-white">PINGPONG</h4>
            <div class="information-container p-3 mt-2 text-white">
                <p class="fw-bold fs-4 mb-2">🔧 Paramètres !</p>
                <p class="fw-medium fs-6">Vous, êtes actuellement sur la page de paramètres, vous pouvez modifier votre nom d'utilisateur, votre mot de passe et votre image de profil.</p>
            </div>
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} 
            <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div class="row mt-5 text-left fs-5 fw-medium">
                    <div class="col-12 col-md-5">
                        <div class="param-box align-self-start mb-5">
                            {% csrf_token %}
                            <div class="mb-3">
                                <p for="username" class="form-label text-white fw-bold fs-4">Nom d'utilisateur</p>
                                <p class="form-label text-secondary fw-lighter fs-6">Modifiez mon nom d’utilisateur</p>
                                <div class="mb-2">
                                    {{ form.username }}
                                </div>
                                <button type="submit" class="btn btn-primary text-center custom-btn custom-btn-width">Changer mon nom</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 offset-md-1">
                        <div class="param-box align-self-start mb-5">
                            <div class="mb-3">
                                <p for="password" class="form-label text-white fw-bold fs-4">Mot de passe</p>
                                <p class="form-label text-secondary fw-lighter fs-6">Modifiez mon mot de passe</p>
                                <div class="mb-2">
                                    {{ password_form }}
                                </div>
                                <button type="submit" class="btn btn-primary text-center custom-btn custom-btn-width">Changer mon mot de passe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="param-box align-self-start mb-5">
                            <div class="mb-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p for="profile-image" class="form-label text-white fw-bold fs-4">Image de profil</p>
                                        <p class="form-label text-secondary fw-lighter fs-6">Modifiez mon image de profil</p>
                                    </div>
                                    <img id="profile-image-preview" src="{% if request.user.profile_image %}{{ request.user.profile_image.url }}{% endif %}" alt="profile picture" class="profile-picture rounded-circle" style="width: 64px; height: 64px;">
                                </div>
                            </div>
                            <div class="custom-file mb-2 w-100">
                                {{ picture_form.profile_image }}
                                <label class="custom-file-label text-center text-white fs-6 fw-lighter" for="profile-image-input" accept="image/*">Choisir un fichier</label>
                            </div>
                            <button type="submit" class="btn btn-primary text-center custom-btn custom-btn-width">Changer mon image</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <script>
        document.getElementById('profile-image-input').addEventListener('change', function(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function() {
                var dataURL = reader.result;
                var output = document.getElementById('profile-image-preview');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        });
    </script>
{%endblock content%}
</html>